@import "tailwindcss";

@theme {
  --color-primary:#E9F0F8;
  --color-secondary:#1B2A41;
  --color-accent: #b1b6bf;
  --color-gold: #e29816;
}

/* In your main CSS file or a dedicated custom CSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Light gray track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Darker gray thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}